<div class="form">
  <div class="loginRegister">
    <div class="link">
      <button mat-button [routerLink]="[ '/login' ]" routerLinkActive="active">Login</button>
    </div>

    <div class="link">
      <button mat-button [routerLink]="[ '/register' ]" routerLinkActive="active">Register</button>
    </div>
  </div>

  <div class="linea">
    <hr>
  </div>

  <i class="fas fa-user icon"></i>



  <form class="formItem" autocomplete="off" [formGroup]="forma" (ngSubmit)="entrar()">

    <mat-form-field class="item">
      <mat-label>Email</mat-label>
      <input formControlName="Email" type="email" matInput placeholder="juan@gmail.com">
    </mat-form-field>
    <span class="feedbackMessage" *ngIf="validCampo('Email')">El campo es Obligatorio, puede contener mayusculas, minusculas y numeros </span>

    <mat-form-field class="item">
      <mat-label>Contraseña</mat-label>
      <input formControlName="Password" type="password" matInput placeholder="Contraseña">
    </mat-form-field>
    <span class="feedbackMessage" *ngIf="validCampo('Password')">El campo es Obligatorio, debe tener minimo 8 caracteres, mayusculas, minusculas y numeros </span>

    <button class="item" mat-raised-button color="primary">Entrar</button>
  </form>
</div>